<head>
  <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
</head>

<h1 class='text-center'>
	<small>WELCOME TO THE</small>
	<br>Uphoria Complex
</h1>

<p class='text-center'>
	where we visibly connect the present to the past <br> through inherent influences within the cultural platforms of <br>
  <strong class='monoton'> 
    <span class='art'> Art</span>, 
    <span class='science'>Science</span>, 
    <span class='technology'>Technology</span>, 
    <span class='philosophy'>Philosophy</span>, and 
    <span class='religion'>Religion</span>.
  </strong> 
  <br> 
	<br>Why? Because the only way to fully perceive the troubles and successes <br> of our modern condition is to understand how certain giants of the past have affected it.
</p>

<br>
<br>
<br>

<div class="row">
  <div class="col-md-6">
  	<h2 class='subtitles text-center'>Ubiquity<br><small>See Your Influences</small><h2>
  	<p class='text-left'>
  		Here, plot your own unique influences on our highly innovative map and explore other individuals, works, discoveries or events that are similarly inspiring. Witness who your idols were influenced by and understand why. 
  	</p>
  </div>
  <div class="col-md-6">
  	<h2 class='subtitles text-center'>Utopia<br><small>Be An Influence</small><h2>
  	<p class='text-left'>
  		Here, add to any platform with your own creative work, be it a film, a thesis, a graphic novel, or a schematic to an underwater robot. Extend the existing timelines of whoever influenced your project, even if its another user. And, hey, maybe you'll influence a few people yourself!
  	</p>
  </div>
</div>
